/*      colors
-------------------------
 #2F2FA2 - blue
#99738E - lavender
#F64C72 - red
#553D67 - plum
#242582 - dark blue */

/*----------------------------------
         Global Styles
------------------------------------*/
html, body {
  height: 100%;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1.25rem;
  line-height:1.5;
  margin: 0;
}
h1, h2, h3, h4 {
  margin: 0;
  font-weight: 400;
}
h2, h3 {
  font-family: 'Archivo Narrow', sans-serif;
}
h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 5rem;
  padding-bottom: 20px;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.875rem;
}
main {
  text-align: center;
  font-size: 1.5rem;
  color: #FFFFFF;
  background: linear-gradient(to top left, rgba(153, 115, 142, 1), rgba(85, 61, 103, 0.9)), url(../Images/honeycomb.jpg) fixed;
  margin: 0;
  padding: 10px 220px;
  min-height: 100%;
}
.prose {
  text-align: left;
  text-indent: 40px;
}
.poetry {
  /* text-align: center; */
}
iframe {
  border: 2px solid #F64C72;
  margin-bottom: 100px;
}

a:focus {
  outline: 4px solid #F64C72;
  background-color: #553D67;
}
li {
  list-style-type: circle;
}

/*-------------------------------
          Header and Footer
--------------------------------*/

/*             Header
------------------------------*/
header {
  background: linear-gradient(to right, rgba(47, 47, 162, 1), rgba(36, 37, 130, 0.7)), url(../Images/BubbleBanner.jpg);
  background-position: right;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid #F64C72;
  padding-top: 30px;
  position: relative;
}

/*          Footer
---------------------------------*/
.bottom-matter {
  margin-top: 200px;
}
.footer {
  margin-top: 150px;
}
.contact-info {
  float: left;
  width: 100%;
}
.contact-info a {
  padding: 2px 40px;
  display: inline-block;
  font-size: 1.5rem;
  border: 2px solid #F64C72;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.contact-info a:hover {
  background-color: #553D67;
  color: #FFFFFF;
  border: 2px solid #D1E8E2;
}

/*------------------------------
          Navigation
 -----------------------------*/
.sidenav {
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to bottom left, rgba(47, 47, 162, 1), rgba(36, 37, 130, 0.7)), url(../Images/BubbleBar.jpg);
  background-size: contain;
}
.sidenav a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px 2px;
  text-transform: uppercase;
  border: 2px solid transparent;
  /* max-height: 60px; */
}
.sidenav a:hover {
  color: #FFFFFF;
  background-color: #553D67;
  border: 2px solid #F64C72;
}
.sidenav a.active {
  border: 2px solid #F64C72;
}
.content-nav {
  margin-bottom: 60px;
}
.content-nav a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 30px;
}

/*--------------------------------
          Media Queries
--------------------------------*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header {
    background: linear-gradient(to right, rgba(47, 47, 162, 1), rgba(36, 37, 130, 0.7)), url(../Images/BubbleBanner@2x.jpg);
  }
  .sidenav {
    background: linear-gradient(to right, rgba(47, 47, 162, 1), rgba(36, 37, 130, 0.7)), url(../Images/BubbleBanner@2x.jpg);
  }
  main {
    background: linear-gradient(to top left, rgba(153, 115, 142, 1), rgba(85, 61, 103, 0.9)), url(../Images/honeycomb@2x.jpg) fixed;
  }
}

@media (max-width: 1000px) {
  header {
    background: linear-gradient(to right, rgba(47, 47, 162, 1), rgba(36, 37, 130, 0.7)), url(../Images/BubbleBannerHalf.jpg) center;
    padding-top: 60px;
  }
  h1 {
    font-size: 3.125rem;
    padding-bottom: 0;
  }
  main {
    font-size: 1.25rem;
    padding: 15px;
  }

  .sidenav {
    background: linear-gradient(to right, rgba(47, 47, 162, 1), rgba(36, 37, 130, 0.7)), url(../Images/BubbleBannerHalf.jpg) bottom;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    margin: 0;
    border-bottom: 2px solid #F64C72;
    }
  .sidenav a {
    display: inline-block;
    padding: 15px 15px;
    font-size: 1.25rem;
  }
  .contact-info a {
    padding: 30px 30px;
  }
.content-nav a:hover {
  color: #F64C72;
  }
}

@media (max-width: 500px) {
  header {
    padding-top: 130px;
  }
  h1 {
    font-size: 1.875rem;
  }
  iframe {
    width: 300px;
    height: 248px;
  }
  .contact-info a {
  max width: 19%;
  padding: 18px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
  .contact-info a {
    padding: 16px;
    font-size: 1.125rem;
  }
}

@media (min-width: 1001px) {
  .contact-info a {
    transition: all 1s;
  }
  .contact-info a:hover {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sidenav a {
    transition: all 1s;
  }
  .sidenav a:hover {
    margin: auto -50px auto 50px;
  }
.content-nav a {
  transition: all 1s;
  }
.content-nav a:hover {
  font-size: 1.75rem;
  }
}
