/*the sidebar navigation menu*/
.sidebar {
  margin: 0;
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #023773;
  overflow: auto;
  padding: 0;
}

/*sidebar links*/
.sidebar a {
  display: block;
  color: blue;
  padding: 16px;
  text-decoration: none;
}

/*active/current link*/
.sidebar a.active {
  background-color: #157878;
  color: white;
}

/*links on mouse-over*/
.sidebar a:hover:not(.active) {
  background-color: #033b1a;
  color: white;
}

/*page content*/
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/*sidebar to topbar on screens less than 700px wide*/
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/*veritcal sidebar display on screens less than 400px wide*/
@media screen and (max-width 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
