<head>
    <style>
body {margin: 0;}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 160px;
  background-color: #154378;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color: #157878;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #4CAF50;
  color: white;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 1200px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 800px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}
      
</style>
</head>
